<section class="content-header">
    <h1><?= $title ?></h1>
    <!-- dynamic breadcrumbs
    <ol class="breadcrumb">
        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Incidents</li>
        <li class="active">Update Incident</li>
    </ol> -->
</section>